[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyodbc = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
wtf = {extras = ["email"], version = "*"}
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
